In [1]:
# orginal data came from Google Jobs API allows you to scrape SERP results from a Google Jobs search
# so I am going to do my own search to run this on
# api documentation - https://serpapi.com/google-jobs-api

import pandas as pd
import requests
from config import serp_api
from serpapi import GoogleSearch
import pprint

In [2]:
# working loop for pulling a single page of results for Data Analyst

#just job results this produces dataset same as the kaggle set
params= {
    "q": "Data Analyst",
    "ibp": "htl;jobs",
    "uule": "w+CAIQICINVW5pdGVkIFN0YXRlcw",
    "hl": "en",
    "gl": "us",
    "ltype": "1",
    "api_key":f'{serp_api}',
    "engine":"google_jobs"
}

search = GoogleSearch(params)
results = search.get_dict()
jobs_results = results["jobs_results"]

https://serpapi.com/search

In [ ]:
# turning single loop into a df

jobs_data = []

for i in range(len(jobs_results)):
    jobs_data.append({
    'job title': jobs_results[i]['title'],
    'company name': jobs_results[i]['company_name'],
    'job description': jobs_results[i]['description'],
    'via': jobs_results[i]['via'],
    'job_id': jobs_results[i]['job_id'],
    'start':"0"
    })

# # Create a DataFrame from the list of dictionaries
jobs_df = pd.DataFrame(jobs_data)

Taking those first two pieces of code where we call for the job search and then pick the result apart and put it into a dataframe, 
into a single python function that takes the job title you are searching for and calls the api and assembles your data

In [87]:
def search_and_create_df(job_title):
    params= {
        "q": f'{job_title}',
        "ibp": "htl;jobs",
        "uule": "w+CAIQICINVW5pdGVkIFN0YXRlcw",
        "hl": "en",
        "gl": "us",
        "ltype": "1",
        "api_key":f'{serp_api}',
        "engine":"google_jobs"
    }

    search = GoogleSearch(params)
    results = search.get_dict()
    jobs_results = results["jobs_results"]

    job_data = []
    for i in range(len(jobs_results)):
        job_data.append({
        'job title': jobs_results[i]['title'],
        'company name': jobs_results[i]['company_name'],
        'job description': jobs_results[i]['description'],
        'via': jobs_results[i]['via'],
        'job_id': jobs_results[i]['job_id'],
        'start':"0"
        })

    func_df = pd.DataFrame(job_data)

    #renaming the dataframe with the search arguement
    job_title = job_title.replace(" ","_")
    func_df.name = f'{job_title}_df'
    print(f"DataFrame named | {func_df.name} | has been created")

In [88]:
search_and_create_df('data analyst')

https://serpapi.com/search
DataFrame named | data_analyst_df | has been created

In [ ]:
data_analyst_df.head()

Builing in pagination using the start parameter. The call only returns 10 results at a time

In [57]:
# adding loop to get 10 pages of results

all_jobs_data = []
start_values = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for start in start_values:
    params = {
        "q": "Data Analyst",
        "api_key": f'{serp_api}',
        "engine": "google_jobs_listing",
        "start": f'{start}'
    }
    search = GoogleSearch(params)
    results = search.get_dict()
pprint.pprint(results)    
#     jobs_results = results.get('results', [{}])
    
#     jobs_data = []
#     for i in range(len(jobs_results)):
#         jobs_data.append({
#         'job title': jobs_results[i]['title'],
#         'company name': jobs_results[i]['company_name'],
#         'job description': jobs_results[i]['description'],
#         'via': jobs_results[i]['via'],
#         'job_id': jobs_results[i]['job_id'],
#         'start': start
#         })

#     all_jobs_data.extend(jobs_data)

# # # Create a DataFrame from the list of dictionaries
# jobs_df = pd.DataFrame(all_jobs_data)

https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
{'error': 'Invalid job ID'}

In [50]:
m_jobs_df.head()

,job title,company name,job description,via,job_id,start
0,Data Analyst,CorSource,About the Organization:\n• Our client is a hea...,via LinkedIn,eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...,90
1,Data Analyst (Commercial Services/ Operations),Forian Inc.,ABOUT FORIAN INC.\n\nForian provides a unique ...,via LinkedIn,eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QgKENvbW1lcm...,90
2,SAS Data Analyst,Peraton,Responsibilities\n\nPeraton's CDC Program is l...,via Peraton - ICIMS,eyJqb2JfdGl0bGUiOiJTQVMgRGF0YSBBbmFseXN0IiwiaH...,90
3,"Associate Data Analyst, Logistics",SanMar,"At SanMar, the work you do makes a difference....",via LinkedIn,eyJqb2JfdGl0bGUiOiJBc3NvY2lhdGUgRGF0YSBBbmFseX...,90
4,Sr. Data Analyst,Centerwell,Description\n\nOur CenterWell Pharmacy Digital...,via Careers At CenterWell,eyJqb2JfdGl0bGUiOiJTci4gRGF0YSBBbmFseXN0IiwiaH...,90

In [51]:
len(m_jobs_df)

10

In [12]:
jobs_df

,job title,company name,job description,via,job_id
0,Data Analyst,CorSource,About the Organization:\n• Our client is a hea...,via LinkedIn,eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...
1,Data Analyst (Commercial Services/ Operations),Forian Inc.,ABOUT FORIAN INC.\n\nForian provides a unique ...,via LinkedIn,eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QgKENvbW1lcm...
2,SAS Data Analyst,Peraton,Responsibilities\n\nPeraton's CDC Program is l...,via Peraton - ICIMS,eyJqb2JfdGl0bGUiOiJTQVMgRGF0YSBBbmFseXN0IiwiaH...
3,"Associate Data Analyst, Logistics",SanMar,"At SanMar, the work you do makes a difference....",via LinkedIn,eyJqb2JfdGl0bGUiOiJBc3NvY2lhdGUgRGF0YSBBbmFseX...
4,Sr. Data Analyst,Centerwell,Description\n\nOur CenterWell Pharmacy Digital...,via Careers At CenterWell,eyJqb2JfdGl0bGUiOiJTci4gRGF0YSBBbmFseXN0IiwiaH...
5,Data Analyst,Netskope,"About Netskope\n\nToday, there's more data and...",via LinkedIn,eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...
6,Data Analyst,Pocket Worlds,About Us\n\nWho We Are\n\nSitting at the inter...,via Y Combinator,eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...
7,"Data Analyst (Austin, TX or Remote)",GoGuardian,"What We Do\n\nAt GoGuardian, we’re helping bui...",via Built In Austin,eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QgKEF1c3Rpbi...
8,EIT - Data Analyst,TeamHealth,"TeamHealth has ranked three years running as ""...",via LinkedIn,eyJqb2JfdGl0bGUiOiJFSVQgLSBEYXRhIEFuYWx5c3QiLC...
9,Data Analyst,ParkMobile,To Power Smart Mobility for Every Driver and V...,via Startup Jobs,eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...

In [ ]:
# looking at the job listings api with the job ids we pulled earlier
# as it seems like you can get an actionable link tied to the listings

id_results_list = []

for index, row in jobs_df.iterrows():
    job_id = row['job_id']
    params= {
        "q": f"{job_id}",
        "api_key":f"{serp_api}",
        "engine":"google_jobs_listing"
    }
    search = GoogleSearch(params)
    results = search.get_dict()
    id_results_list.append(results)


pprint.pprint(id_results_list)

In [47]:
# taking the job ids from the intial api call 
# use the get method on the dictionary, which returns None if the key is not present in the dictionary.
# The [{}] syntax creates an empty dictionary within a list

id_jobs_data = []

for i in range(len(jobs_results)):
    id_jobs_data.append({
    'apply options': id_results_list[i].get('apply_options', [{}])[0].get('link', None),
    'rating': id_results_list[i].get('ratings', [{}])[0].get('rating', None),
    '# of reviews': id_results_list[i].get('ratings', [{}])[0].get('reviews', None),
    'rating source': id_results_list[i].get('ratings', [{}])[0].get('source', None),
    'salary based on': id_results_list[i].get('salaries', [{}])[0].get('based_on', None),
    'salary from': id_results_list[i].get('salaries', [{}])[0].get('salary_from', None),
    'salary to': id_results_list[i].get('salaries', [{}])[0].get('salary_to', None),
    'salary source': id_results_list[i].get('salaries', [{}])[0].get('source', None),
    'job_id': id_results_list[i].get('search_parameters', [{}]).get('q', None)
    })

# # Create a DataFrame from the list of dictionaries
id_jobs_df = pd.DataFrame(id_jobs_data)

In [48]:
id_jobs_df

,apply options,rating,# of reviews,rating source,salary based on,salary from,salary to,salary source,job_id
0,https://www.linkedin.com/jobs/view/data-analys...,3.8,38.0,Glassdoor,Based on local employers,46000.0,89000.0,Payscale,eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...
1,https://www.linkedin.com/jobs/view/data-analys...,4.5,2.0,Glassdoor,Based on local employers,63000.0,89000.0,Glassdoor,eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QgKENvbW1lcm...
2,https://careers-peraton.icims.com/jobs/130882/...,3.2,179.0,Indeed,Based on local employers,65000.0,130000.0,Glassdoor,eyJqb2JfdGl0bGUiOiJTQVMgRGF0YSBBbmFseXN0IiwiaH...
3,https://www.linkedin.com/jobs/view/associate-d...,NaN,NaN,None,Based on local employers,72000.0,100000.0,Glassdoor,eyJqb2JfdGl0bGUiOiJBc3NvY2lhdGUgRGF0YSBBbmFseX...
4,https://www.centerwellcareers.com/job/17774539...,NaN,NaN,None,Based on local employers,75000.0,120000.0,Salary.com,eyJqb2JfdGl0bGUiOiJTci4gRGF0YSBBbmFseXN0IiwiaH...
5,https://www.linkedin.com/jobs/view/data-analys...,NaN,NaN,None,Based on local employers,46000.0,89000.0,Payscale,eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...
6,https://www.ycombinator.com/companies/pocket-w...,3.9,16.0,Glassdoor,None,NaN,NaN,None,eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...
7,https://www.builtinaustin.com/job/data/data-an...,4.0,114.0,Glassdoor,Based on local employers,42000.0,170000.0,ZipRecruiter,eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QgKEF1c3Rpbi...
8,https://www.linkedin.com/jobs/view/eit-data-an...,3.3,685.0,Indeed,None,NaN,NaN,None,eyJqb2JfdGl0bGUiOiJFSVQgLSBEYXRhIEFuYWx5c3QiLC...
9,https://startup.jobs/data-analyst-parkmobile-4...,NaN,NaN,None,Based on local employers,49000.0,100000.0,Indeed,eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...