In [65]:
import os
import pandas as pd

In [83]:

# Set the path of the directory that contains the CSV files
directory = '/Users/laceymorgan/Desktop/data_job_analysis/'

# Get a list of all CSV files in the directory
csv_files = [os.path.join(directory, file) for file in os.listdir(directory) if file.endswith('.csv')]

# Create an empty DataFrame to store the concatenated data
df = pd.DataFrame()

# Loop through each CSV file and concatenate the data
for file in csv_files:
    data = pd.read_csv(file)
    df = pd.concat([df, data], ignore_index=True)

In [89]:

df.head()

,job_title,company_name,job_description,via,job_id,posted_hours_ago,report_run_datetime,apply_options,rating,#_of_reviews,...,salary_from,salary_to,salary_source,my_keywords,job_description_summary,sentiment_score,salary_mention,named_entity_recognition,job_id.1,Unnamed: 0
0,Program Operations Management Analyst,Google,Minimum qualifications:\n• Bachelor's degree o...,via Girlboss Jobs,eyJqb2JfdGl0bGUiOiJQcm9ncmFtIE9wZXJhdGlvbnMgTW...,0,2023-02-21 06:39:38,https://jobs.girlboss.com/program-operations-m...,4.5,40353.0,...,82000.0,130000.0,Salary.com,visualization sql tableau,• Knowledge of SQL and data visualization tool...,0.9965,"['range', 'between', '$109,000', '-', '$117,00...",(S\n (GPE Minimum/JJ)\n qualifications/NNS\n...,NaN,NaN
1,Data Center Operations Analyst,Adobe,Our Company\n\nChanging the world through digi...,via Adobe - Talentify,eyJqb2JfdGl0bGUiOiJEYXRhIENlbnRlciBPcGVyYXRpb2...,0,2023-02-21 06:39:38,https://adobe.talentify.io/job/data-center-ope...,4.4,8412.0,...,NaN,NaN,NaN,NaN,Changing the world through digital experiences...,0.9977,"['range', 'for', 'the', 'job', 'location', 'du...",(S\n Our/PRP$\n Company/NN\n Changing/VBG\n...,NaN,NaN
2,Business Operations Analyst,Juniper Networks,Job Title: Business Analyst - Global Service O...,via Salary.com,eyJqb2JfdGl0bGUiOiJCdXNpbmVzcyBPcGVyYXRpb25zIE...,0,2023-02-21 06:39:38,https://www.salary.com/job/juniper-networks/bu...,4.3,3943.0,...,76000.0,120000.0,Indeed,NaN,Responsibilities... The primary responsibility...,0.9741,salary not mentioned,(S\n (PERSON Job/NNP)\n Title/NNP\n :/:\n ...,NaN,NaN
3,Marketing Campaign Operations Analyst,Aquent,The Marketing Analytics team is looking for a ...,via Aquent Talent,eyJqb2JfdGl0bGUiOiJNYXJrZXRpbmcgQ2FtcGFpZ24gT3...,0,2023-02-21 06:39:38,https://aquenttalent.com/talent/jobs/181552?re...,4.2,940.0,...,NaN,NaN,NaN,sql,The Marketing Analytics team is looking for a ...,0.9979,salary not mentioned,(S\n The/DT\n Marketing/NNP\n Analytics/NNP...,NaN,NaN
4,Data Scientist (All Levels),Noblis,Responsibilities\n\nNoblis is seeking to hire ...,via Noblis - Careers - ICIMS,eyJqb2JfdGl0bGUiOiJEYXRhIFNjaWVudGlzdCAoQWxsIE...,0,2023-02-21 06:47:47,https://jobs-noblis.icims.com/jobs/21177/data-...,4.0,66.0,...,NaN,NaN,NaN,python,"As a Data Scientist with our team, you will be...",0.9990,"['at', 'Noblis', 'is', 'determined', 'by', 'va...",(S\n Responsibilities/NNS\n (PERSON Noblis/N...,NaN,NaN

In [90]:
# Dropping the duplicate job_id column
df = df.drop(columns='job_id.1')

In [91]:
# Dropping the duplicate job_id column
df = df.drop(columns='Unnamed: 0')

In [92]:
df.count()

job_title                   1000
company_name                1000
job_description             1000
via                         1000
job_id                      1000
posted_hours_ago            1000
report_run_datetime         1000
apply_options               1000
rating                       607
#_of_reviews                 607
rating_source                607
salary_based_on              417
salary_from                  417
salary_to                    410
salary_source                417
my_keywords                  473
job_description_summary      880
sentiment_score              880
salary_mention               880
named_entity_recognition     880
dtype: int64

In [101]:
# Count the number of occurrences of each unique value in the 'job_id' column
job_id_counts = df['job_id'].value_counts()

# Select only the values that occur twice or more
job_id_counts_2 = job_id_counts[job_id_counts >=2]

# Get the count of values that occur exactly twice
num_jobs_with_2_instances = len(job_id_counts_2)

print(f'There were {num_jobs_with_2_instances} job listings that were captured twice or more.')

There were 80 job listings that were captured twice or more.

In [102]:
# Remove duplicate rows based on 'job_id'
df = df.drop_duplicates(subset=['job_id'])

In [104]:
# Analyzing how much NLTK summarizer reduced the descriptions

df['job_desc_len'] = df['job_description'].str.len()
df['job_sum_len'] = df['job_description_summary'].str.len()

avg_job_desc_len = round(df['job_desc_len'].mean())
avg_job_sum_len = round(df['job_sum_len'].mean())
avg_desc_perc_change = round((avg_job_sum_len-avg_job_desc_len)/avg_job_desc_len *-100)

print(f'The average length of a job description was {avg_job_desc_len}, the NLTK summarizer brought the average length down to {avg_job_sum_len}.')
print(f'That is a reduction of {avg_desc_perc_change}% in length on average.')

The average length of a job description was 4203, the NLTK summarizer brought the average length down to 973.
That is a reduction of 77% in length on average.

In [105]:
# Examining how many listings had hits for my keywords

# Count the number of non-NaN values
keyword_matches = df['my_keywords'].count()

# Count the number of NaN values
keyword_nan = df['my_keywords'].isnull().sum()

# Print the results
print(f'{(round(keyword_matches/len(df),2)*100)}% of listings had keyword matches with a count of: {keyword_matches}')
print(f'{(round(keyword_nan/len(df),2)*100)}% of listings did not have keyword matches with a count of:  {keyword_nan}')

48.0% of listings had keyword matches with a count of: 440
52.0% of listings did not have keyword matches with a count of:  480

In [116]:
# Looking at the the most common job titles

top_overall_titles = df.groupby(df['job_title']).count()['job_description'].sort_values(ascending=False)[0:10]
# Calculate the percentage of total for each job title
total_count = len(df['job_description'])
percent_of_total = top_overall_titles.apply(lambda x: (x / total_count) * 100)

# Adding the percent of total column to the groupby object
top_overall_titles_with_pct = pd.concat([top_overall_titles, percent_of_total], axis=1, keys=['count', 'percent_of_total'])

# Round the percent column to two decimal places
top_overall_titles_with_pct['percent_of_total'] = top_overall_titles_with_pct['percent_of_total'].round(2)

print(top_overall_titles_with_pct)

                                     count  percent_of_total
job_title
Data Analyst                            92             10.00
Operations Analyst                      72              7.83
Senior Data Analyst                     30              3.26
Revenue Operations Analyst              25              2.72
Business Operations Analyst             24              2.61
Sales Operations Analyst (Remote)       18              1.96
Sr. Data Analyst                        17              1.85
Senior Data Analyst (Remote)            14              1.52
Sales Operations Analyst                11              1.20
Revenue Operations Analyst (Remote)     10              1.09

In [118]:
# Looking at the companies that have the most listings in the dataset

top_overall_comps = df.groupby(df['company_name']).count()['job_description'].sort_values(ascending=False)[0:10]
# Calculate the percentage of total for each job title
total_count = len(df['job_description'])
percent_of_total = top_overall_comps.apply(lambda x: (x / total_count) * 100)

# Adding the percent of total column to the groupby object
top_overall_comps_with_pct = pd.concat([top_overall_comps, percent_of_total], axis=1, keys=['count', 'percent_of_total'])

# Round the percent column to two decimal places
top_overall_comps_with_pct['percent_of_total'] = top_overall_comps_with_pct['percent_of_total'].round(2)

print(top_overall_comps_with_pct)

                         count  percent_of_total
company_name
Softheon                    16              1.74
Peraton                     16              1.74
Rightway                    16              1.74
Headway                     12              1.30
Robert Half                 11              1.20
Humana                      10              1.09
Center for Fair Futures     10              1.09
Aquent                      10              1.09
Aon Corporation             10              1.09
Salesforce                   9              0.98

In [107]:
# Define the pattern to match
pattern = r'\b(senior|sr|sr\.|lead|manager|sr .)\b'

# Create a new column that returns a boolean indicating whether the my_keywords column matches the pattern
df['senior_match'] = df['job_title'].str.lower().str.contains(pattern) 

# Examining how many listings are for these senior roles

# Count the number of True values in the senior_match column
num_senior_matches = df['senior_match'].sum()

# print(f'Number of senior roles in the dataset: {num_senior_matches}')
print(f'{(round(num_senior_matches/len(df),2)*100)}% of listings matched as senior roles with a count of: {num_senior_matches}')

21.0% of listings matched as senior roles with a count of: 194

/var/folders/v0/rlrtvnc53g178pfy3_fzt2wm0000gp/T/ipykernel_19434/1640846906.py:5: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df['senior_match'] = df['job_title'].str.lower().str.contains(pattern)

In [108]:
# Overview of the NLTK generated sentiment scores
df['sentiment_score'].describe()

count    800.000000
mean       0.978115
std        0.130793
min       -0.926000
25%        0.995775
50%        0.998100
75%        0.999100
max        1.000000
Name: sentiment_score, dtype: float64

In [119]:
# Looking at how many listings NLTK was able to pull salary info from
salary_extract = df.loc[df['salary_mention']!='salary not mentioned']
len(salary_extract)/len(df) *100

# Print the results
print(f'NLTK was able to find the salary mentioned in {(round(len(salary_extract)/len(df) *100))}% of listings had with a count of: {len(salary_extract)}')

NLTK was able to find the salary mentioned in 44% of listings had with a count of: 406

In [114]:
# Overview of the rating information gathered from the google jobs listings endpoint

df['rating'].describe()

count    554.000000
mean       3.748195
std        0.487758
min        1.600000
25%        3.500000
50%        3.800000
75%        4.000000
max        5.000000
Name: rating, dtype: float64

In [121]:
# How many listings were present in the dataset with companies having a perfect 5 rating

print(f"Of the {df['rating'].count()} company ratings gathered from the Google jobs listings endpoint, only {len(df.loc[df['rating'] == 5])} listings were posted by companies that had a perfect 5 rating.")

Of the 554 company ratings gathered from the Google jobs listings endpoint, only 3 listings were posted by companies that had a perfect 5 rating

In [122]:
df.describe()

,posted_hours_ago,rating,#_of_reviews,salary_from,salary_to,sentiment_score,job_desc_len,job_sum_len
count,920.000000,554.000000,554.000000,381.000000,374.000000,800.000000,920.000000,800.000000
mean,134.890217,3.748195,3770.628159,57218.091864,109575.216578,0.978115,4203.078261,972.877500
std,198.554647,0.487758,8263.185544,19546.858559,35274.439172,0.130793,1945.960829,525.135575
min,0.000000,1.600000,1.000000,11.000000,23.000000,-0.926000,153.000000,152.000000
25%,0.000000,3.500000,144.000000,46000.000000,91000.000000,0.995775,2812.000000,625.000000
50%,48.000000,3.800000,553.000000,52000.000000,100000.000000,0.998100,4162.500000,822.500000
75%,144.000000,4.000000,3943.000000,66000.000000,120000.000000,0.999100,5355.000000,1192.000000
max,720.000000,5.000000,65103.000000,180000.000000,300000.000000,1.000000,15591.000000,3374.000000